.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

h2 {
  font-family: Georgia, serif;
  font-size: 24px;
}

.content-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  margin-right: 20px;
}

.car-image {
  width: auto;
  height: 370px;  
}

.passcode-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passcode-input {
  font-family: Georgia, serif;
  text-align: center;
  width: 160px;
  font-size: 20px;
  padding: 10px;
  border: none;  
  outline: none;  
  background-color: transparent; 
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  border-radius: 8px;
}

.keypad-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.error-message {
  color: red;
}

.buttons {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 16px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
