.container {   
    text-align: center;
    vertical-align: middle;
}

.yes {
    background-color: rgb(246, 134, 153);
    color: white;
    border: none;
    outline: none;  
    cursor: pointer;
    outline-color: #ff0000; /* Red outline color */
    outline-style: solid;  
    outline-width: 2px;  
    padding: 4px 16px;
}

.no {
    background-color: rgb(134, 200, 247);
    color: white;
    border: none;
    outline: none;  
    cursor: pointer;
    outline-color: rgb(68, 173, 248); 
    outline-style: solid;  
    outline-width: 2px;  
    padding: 4px 16px;
}
 

